<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medziagu skaiciuokle</title>
    <link rel="stylesheet" th:href="@{/styles/home.css}">
</head>
<body class="home-background">
    <main>
    <div class="home-title">Medžiagų<br> skaičiuoklė</div>
        <div class="navigation-bar">
            <button onclick="window.open('http://localhost:8888/klientas/menu')">Klientai</button>
            <button onclick="window.open('http://localhost:8888/klientas/create', '_self')">Naujas klientas</button>
        </div>
    </div>
        <div>
            <form action="#" class="login-container">
                <div>
                    <label for="email" class="login-titles">Elektroninis paštas</label><br>
                    <input type="text" placeholder="Įveskite paštą" id="email"><br>
                </div>
                <div>
                    <label for="password" class="login-titles">Slaptažodis</label><br>
                    <input type="text" placeholder="Įveskite slaptažodį" id="password"><br>
                </div>
                <div>
                    <input type="submit" value="Prisijungti">
                </div>
            </form>
        </div>
    </main>
</body>
</html>